<% if comment.persisted? %>

<hr>
<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<%= link_to 'Edit', edit_article_comment_path(@article, comment) %>

<br>

<% end %>