<div class = "container">
    <h1>New Article</h1>
    <div class= "comment-form">
    <%= render "form", article: @article %>
    </div>

    <div>
    <%= link_to 'Home', root_path %>
    </div>
</div>

